body {
	background-color: $body-bg;
	font-family: $default-font;
	color: $text;
	font-size: rem-calc(16);
	font-weight: 400;
	overflow-x: hidden;
}

input,
textarea,
button,
a {
	outline: none;
}

a {
	text-decoration: underline;
	color: $link;
	&:visited {
		color: $link-visited;
	}
	&:active {
		color: $link-active;
	}
	&:hover {
		text-decoration: none;
		color: $link-hover;
	}
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-weight: 600;
	font-family: $default-font;
}

.icon {
	display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
	@include cssowl-after-absolute-inside("*", 100%, 100%, middle, center, 0, 0);
	@include cssowl-before-absolute-inside("*", 100%, 100%, middle, center, 0, 0);
	outline: none;
	&:after,
	&:before {
		@extend %cssowl-text-hide;
		@include opacity(1);
		background-color: $text;
	}
	&:after {
		z-index: 444;
	}
	&:before {
		z-index: 555;
	}
	&:checked {
		&:before {
			@include opacity(0);
		}
	}
}

input[type="radio"] {
	width: rem-calc(21);
	height: rem-calc(21);
	&:before {
		background-image: url(../img/radio-unchecked.png);
	}
	&:after {
		background-image: url(../img/radio-checked.png);	
	}
}

input[type="checkbox"] {
	width: rem-calc(20);
	height: rem-calc(20);
	&:before {
		background-image: url(../img/checkbox-unchecked.png);
	}
	&:after {
		background-image: url(../img/checkbox-checked.png);	
	}
}

input[type="text"] {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid $input-border;
	text-transform: uppercase;
	font-size: rem-calc(14);
	color: $label-info;
	padding-bottom: rem-calc(18);
	&:focus {
		border: none;
		box-shadow: none;
		color: darken($label-info, 20);
		border-bottom: 1px solid darken($input-border, 20);
	}
}

ng-view.ng-enter,
[ng-view].ng-enter {
	@include transition(.4s, ease-out);
	@include opacity(0);
	margin-left: 150px;
	margin-right: -150px;
}

ng-view.ng-enter-active,
[ng-view].ng-enter-active {
	@include opacity(1);
	margin-left: 0;
	margin-right: 0;
}